<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			En Deepin en Español, estamos al tanto de mejorar y seguir evolucionando.

Puedes seguir aportando en el grupo de Telegram y dar consejos.

Aquí no hacemos a cambio de dinero o golosinas, ¡disfruta de nuestro sitio web!
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			¡Publicidad! <a href="http://placekitten.com/">No, son gatos.</a>
		</p>
	</div>
</aside>
