<aside>
	<div class="panel radius">
		<h3>Apóyanos</h3>
		<p>
			En Deepin en Español, estamos al tanto de mejorar y seguir evolucionando.
			Sin embargo, necesitamos tu ayuda para seguir creciendo.
			No necesitamos dinero, sino tu talento.
		</p>
	</div>

  <img class="b30" src="{{ site.urlimg }}ninos.jpg" alt="">

	<div class="border-dotted radius b30">
		<img src="http://lorempixel.com/271/270/cats/" alt="uh, Placekitten">
		<p class="text-left">
			¡Publicidad! <a href="http://lorempixel.com">No, son gatos.</a>
		</p>
	</div>
</aside>
